/* Diagnostic */

/* * {
  outline: 1px dotted darkgray;
} */

body {
  font-family: 'Clash Grotesk', sans-serif;
  transition: background .5s;
}


.dark {
  background: #0f3e11;
  color: #49d450;
}

main {
  font-size: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
 a {
  text-decoration: none;
  color: inherit;
  transition: color .5s;
 }
 
