/* Diagnostic */

* {
  outline: 1px dotted darkgray;
}

body {
  font-family: 'Tanker', sans-serif;
  transition: background .5s;
}


.dark {
  background: darkgray;
  color: whitesmoke;
}

main {
  font-size: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

